# Default local host
OLLAMA_BASE_URL=http://localhost:xxxx

# Model to use extraction
OLLAMA_MODEL=mistral

# Timeout - Increase for slow hardware
OLLAMA_TIMEOUT=1xx

# Streamlit UI
API_BASE_URL=http://localhost:xxxx